{{form.value | json}}
<form [formGroup]="form">
  <div fxLayout="column">
    <div fxLayout="row">
        <label>Name</label><br>
        <input type="text" formControlName="equipmentId">
    <div fxFlex></div><div fxFlex></div><br><br>
        <label>Available</label>
        <mat-checkbox formControlName="available"></mat-checkbox>
    </div>
      <div fxFlex></div><div fxFlex></div><br><br>
      <label>Location</label>
      <select class="form-control"  id="location"
              required
              formControlName="location">
        <option *ngFor="let loc of locations" [value]="loc">{{loc}}</option>
      </select>
  </div>
  <br><br>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>

</form>

